<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">
    <!-- Bootstrap core JavaScript-->

<!--    <script src="/resources/vendor/bootstrap/js/bootstrap.js"></script>-->
    <!-- Custom scripts for all pages-->


<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--    <script src="/resources/vendor/chart.js/Chart.min.js"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script src="/resources/js/demo/chart-area-demo.js"></script>-->
<!--    <script src="/resources/js/demo/chart-pie-demo.js"></script>-->
    <script src="/resources/js/validatedJquery.js"></script>
</th:block>
