<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalDeleteDrink">
    <div class="modal" tabindex="-1" id="modalDeleteDrink">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa thức uống</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">

                    </div>
                    <form id="frmDeleteDrink">
                        <div class="row">
                            <div class="mb-3 col-6">
                                <input type="text" id="idDrinkDelete" hidden>
                                <label for="drinkNameDelete" class="form-label fw-bold">Tên thức uống</label>
                                <input type="text" class="form-control" id="drinkNameDelete" name="drinkNameDelete" readonly>
                            </div>
                            <div class=" mb-3 col-6">
                                <label for="priceDrinkDelete" class="form-label fw-bold">Giá thức uống</label>
                                <input type="text" class="form-control number-separator inNumber"
                                       id="priceDrinkDelete" name="priceDrinkDelete" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="desDrinkDelete" class="form-label fw-bold">Mô tả</label>
                                <textarea class="form-control" id="desDrinkDelete" name="desDrinkDelete"
                                          rows="4" cols="100%" readonly></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-danger" id="btnDeleteDrink">Xóa thức uống</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function deleteDrink() {
            let drink = {
                id: $("#idDrinkDelete").val(),
                drinkName: $("#drinkNameDelete").val(),
                price: clearSpaceNumber($("#priceDrinkDelete").val()),
                description: $("#desDrinkDelete").val()
            };
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "PUT",
                url: "/api/drinks/delete",
                data: JSON.stringify(drink)
            })
                .done(function (data) {
                    let currentRow = $("#tr_" + data.id);
                    currentRow.remove();
                    $("#modalDeleteDrink").modal("hide");
                    $("#frmDeleteDrink")[0].reset();
                    swal("Cập nhật thành công","Thức uống đã được xoá", "success");
                })
                .fail(function (jqXHR) {
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id="${key}-error" class="error" for="${key}">${value}</lable><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#modalDeleteDrink .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#modalDeleteDrink .modal-body .modal-alert-danger").html(str);
                })
        }

        //set event for button delete
        $("#btnDeleteDrink").on("click", function () {
            deleteDrink();
        });

        $("#modalDeleteDrink").one('hidden.bs.modal', function () {
            $("#modalDeleteDrink .modal-body .modal-alert-danger").empty();
            $("#modalDeleteDrink .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
            $("#modalDeleteDrink input.error").removeClass("error");
            $("#frmDeleteDrink")[0].reset();
        });


    </script>
</th:block>