<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreateCatalog">
    <div class="modal" tabindex="-1" id="modalCreateCatalog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm danh mục thức uống</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmCreateCatalog">
                        <div class="row">
                            <input type="text" id="idCatalogUpdate" hidden>
                            <div class="col">
                                <label for="catalogNameCreate" class="form-label fw-bold">Tên danh mục</label>
                                <input type="text" class="form-control" id="catalogNameCreate" name="catalogNameCreate">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateCatalog">Tạo danh mục</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //show modal create
        $("button.createCatalog").on("click", function () {
            $("#modalCreateCatalog").modal("show");
        });

        function createCatalog() {
            let catalog = {
                catalogName: $("#catalogNameCreate").val()
            };

            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "POST",
                url: "/api/catalogs/create",
                data: JSON.stringify(catalog)
            })
                .done(function (data) {
                    let str = `
                        <tr th:id="'tr_'+ ${data.id}">
                                    <td>${data.id}</td>
                                    <td>${data.catalogName}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-primary editCatalog" data-id="${data.id}">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-danger deleteCatalog"
                                                data-id="${data.id}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                        </tr>
                    `;
                    $("#tblCatalog tbody").prepend(str);
                    $("#modalCreateCatalog").modal("hide");
                    $("#frmCreateCatalog")[0].reset();
                    swal("Cập nhật thành công", "Danh mục mới đã được thêm", "success");
                    handlerShowModalEditCatalog();
                    handlerShowModalDeleteCatalog();
                })
                .fail(function (jqXHR) {
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#modalCreateCatalog .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#modalCreateCatalog .modal-body .modal-alert-danger").html(str);
                })
        }

        //set event for button create
        $("#btnCreateCatalog").on("click", function () {
            $("#frmCreateCatalog").trigger("submit");
        })

        //reset modal Create
        $("#modalCreateCatalog").one('hidden.bs.modal', function () {
            $("#modalCreateCatalog .modal-body .modal-alert-danger").empty();
            $("#modalCreateCatalog .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
            $("#modalCreateCatalog input.error").removeClass("error");
            $("#frmCreateCatalog")[0].reset();
        });
    </script>
</th:block>